
  <div class="container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center " >
    <div class="card m-0 p-5">
      <h4 class="text-center  fs-5">Forget Password </h4>
      <hr>
      <form
      id="formlogin"
      class="text-sm-start mx-1 mx-md-4"
      (ngSubmit)="onConfirm()"
      [formGroup]="forgetPasswordForm"
    >
      <div class="mb-4">
        <label for="email" class="form-label fs-5 ">Email</label>
        <input
          type="email"
          class="form-control rounded-0"
          id="email"
          formControlName="email"
        />
        <ng-container *ngIf="emailControl.touched">
          <div
            *ngIf="emailControl.hasError('required')"
            class="form-text text-danger"
          >
            email is required
          </div>
           <div
            *ngIf="emailControl.hasError('email')"
            id="emailHelp"
            class="form-text text-danger"
          >
            invalid email
          </div>
          <div
          *ngIf=errorFlag

          class="form-text text-danger"
        >
          {{errorMessage}}
        </div>
        </ng-container>
      </div>

      <button
      *ngIf="isSuccess==false else check"
      [disabled]="forgetPasswordForm.invalid"
      type="submit"
      class="btn btn-outline-primary col-12 rounded-0 mb-3  ">
      Send
    </button>
    <ng-template #check>
      <app-spinner></app-spinner>
    </ng-template>
      <p class="mb-3 text-center">
        Back to login?
        <a routerLink="/login" class="fs-6">Back</a>
      </p>
      <hr class="mb-3" />
      </form>
    </div>

  </div>


