<div class="row mt-4 mb-4 text-center">
  <h3 style="text-align:center;" style="color:blue">Formats In bookStore</h3>
  <div class=" justify-content-center ">
    <button [routerLink]="['/addFormat']" class="btn btn-success ">Add new format</button>
    </div>
</div>
<hr class="style-line">
<div class="container mb-5">
<div class="row justify-content-center row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
<div *ngFor="let format of Formats.data.reverse()">
  <h3>{{ format.name }}</h3>
  <button [routerLink]="['/editFormat', format.id]" class="btn btn-success">Edit</button>
  <button [routerLink]="['/deleteFormat', format.id]" class="btn btn-danger">Delete</button>
</div>
  </div>
</div>
