<div class="container d-flex justify-content-center align-items-center   " *ngIf="spinnerFlag == false else spin">
    <div class="card w-100  m-sm-5    ">
        <div class="card-header bg-success-subtle pb-3  fs-5   fw-medium text-center  ">
            Your Wish List <i class="fa-solid fa-heart text-danger-emphasis "></i>
        </div>

        <!-- ITEMS -->
        <div class="container-fluid mt-2" *ngIf="wishListItems.length>0 else empty">
            <div class="row border-bottom "  *ngFor="let item of wishListItems; let i = index">
                <div class="col-1 d-flex align-items-center justify-content-end   ">
                    <p class="text-black-50 ">{{i+1}}</p>
                </div>
                <div class=" col-3 col-lg-2 p-2  d-flex  justify-content-center " routerLink='/home/{{item.book.id}}' style="cursor: pointer;" >
                    <img height="100" width="70"  src="{{item.book.cover}}" alt="">
                </div>
                <div class="col-6 col-lg-7   flex-column  d-flex justify-content-center   ">
                    <p class="fw-semibold mb-1   "> {{item.book.title}}</p>
                    <small class="">Year : {{item.book.year}}</small>
                    <small>Price :
                        <ng-template #price>
                            <span class="fw-medium "> {{item.book.price |currency}}</span>
                        </ng-template>
                        <span class="text-decoration-line-through text-danger" *ngIf="item.book.discountPrice>0 else price">
                            {{item.book.price|currency}}
                        </span>
                        <span *ngIf="item.book.discountPrice>0" class="fw-medium ">
                            &#xa0;{{item.book.discountPrice|currency}}
                        </span>
                    </small>
                    <!-- <ng-template #price>
                        <p class=" fs-4 ms-3 fw-medium ">{{item.book.price|currency}}  </p>
                      </ng-template>
                      <p class=" fs-4 ms-3 fw-medium   "  > </p>
                      <p class=" fs-4 ms-3 fw-medium " > </p>      -->
                </div>
                <div class=" col-2 col-lg-2  d-flex justify-content-center  align-items-center ">
                     <button type="button" class="btn btn-outline-danger  d-flex py-2" (click)="onDelete(item.book.id)" pButton icon="pi pi-check" >
                        <i class="fa-solid fa-heart-crack"></i>
                    </button>
                    <!-- <button class="btn btn-outline-danger "><i class="fa-solid fa-trash"></i></button> -->
                </div>
            </div>
        </div>
        <ng-template #empty>
            <div class="text-center  m-5  p-5  fs-1 text-body-tertiary "> Wishlist is Empty </div>
        </ng-template>
        <!-- ITEMS -->

        <p-toast></p-toast>
        <p-confirmDialog  header="Delete"  [breakpoints]="{ '960px': '95vw' }" [style]="{width: '60vw'}"  icon="pi pi-exclamation-triangle" ></p-confirmDialog>
    </div>
</div>
<ng-template #spin>
    <app-main-spinner></app-main-spinner>
  </ng-template>
