<div class="container bootstrap snippets bootdeys">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-6 content-card">
      <div class="card-big-shadow">
        <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
          <div class="content">
            <h4 class="title"><a href="#">Users</a></h4>
            <img height="250px" class="card-img-top rounded-circle" src="assets\images\users5.png" alt="Card image cap">
            <br>
            <a href="/allReaders" class="btn btn-primary" style="background-color: #0DD6B8;">Manage users</a>
          </div>
        </div> <!-- end card -->
      </div>
    </div>

    <div class="col-md-4 col-sm-6 content-card">
      <div class="card-big-shadow">
        <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
          <div class="content">
            <h4 class="title"><a href="#">Authors</a></h4>
            <img height="250px" class="card-img-top rounded-circle" src="assets\images\author.jpg" alt="Card image cap">
            <br>
            <a href="/allAuthors" class="btn btn-primary" style="background-color: #0DD6B8;">Manage authors</a>
          </div>
        </div> <!-- end card -->
      </div>
    </div>
  </div>
</div>
