<section class="vh-100 vw-100 d-flex justify-content-center align-items-center">
 <div class="card m-4 p-5">

  <h4 class=" text-center fs-4">Reset Your Password</h4>
  <hr>
  <div> Email has been sent to you with a code </div>
  <form (ngSubmit)="onReset()" [formGroup]="resetPasswordForm">

    <div class="form-outline mb-4">
      <input
        type="text"
        id="email"
        class="form-control  rounded-0"
        formControlName="email"
        placeholder="Email"
        *ngIf=userEmail
        [(ngModel)]="userEmail"
        hidden
      />
      <ng-container *ngIf="emailControl.touched">
        <div
          *ngIf="emailControl.hasError('required')"
          class="form-text text-danger"
        >
          email is required
        </div>
        <div
          *ngIf="emailControl.hasError('email')"
          class="form-text text-danger"
        >
          invalid email
        </div>
      </ng-container>
    </div>
    <div class="form-outline mb-4">
      <input
        type="text"
        id="token"
        class="form-control  rounded-0"
        formControlName="token"
        placeholder="Code"
      />

      <ng-container *ngIf="tokenControl.touched">
        <div
          *ngIf="tokenControl.hasError('required')"
          class="form-text text-danger"
        >
          CodeToken is required
        </div>
      </ng-container>
    </div>
    <div class="form-outline mb-4">
      <input
        type="password"
        id="password"
        class="form-control  rounded-0"
        formControlName="newPassword"
        placeholder="New Password"
      />
      <ng-container *ngIf="newPasswordControl.touched">
        <div
          *ngIf="newPasswordControl.hasError('required')"
          class="form-text text-danger"
        >
          Password is required
        </div>
        <div
          *ngIf="newPasswordControl.hasError('minlength')"
          class="form-text text-danger"
        >
          Minlength is 8 char.
        </div>
        <div
          *ngIf="newPasswordControl.hasError('pattern')"
          class="form-text text-danger"
        >
          password must be contain<br />
          lower and uper case char<br />
          [@|#|$|^|&]
        </div>
      </ng-container>
    </div>
    <div class="form-outline mb-4">
      <input
        type="password"
        id="confirmPassword"
        class="form-control  rounded-0"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
      <ng-container *ngIf="confirmPasswordControl.touched">
        <div
          *ngIf="confirmPasswordControl.hasError('required')"
          class="form-text text-danger"
        >
          password is required
        </div>
        <div
          *ngIf="
            resetPasswordForm.value.newPassword !=
            resetPasswordForm.value.confirmPassword
          "
          class="form-text text-danger"
        >
          NewPassword and ConfirmPassword are not matched.
        </div>
      </ng-container>
    </div>
     <!-- <p>{{ resetPasswordForm.value | json }}</p> -->
     <div
     *ngIf=errorFlag

     class="form-text text-danger"
   >
     {{errorMessage}}
   </div>
    <div class="pt-3">
      <input
      *ngIf="isSuccess==false else check"
          type="submit"
          value="Reset"
          class="btn btn-outline-primary col-12 rounded-0 mb-3"
          [disabled]="resetPasswordForm.invalid
          "
        />
        <ng-template #check>
          <app-spinner></app-spinner>
        </ng-template>
    </div>
  </form>

 </div>
</section>
