<div class="container-fluied bg-img">
  <div class="row bg-trans">
    <div class="container-fluied justify-content-center mb-5 mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 p-5">
          <h1 class="hidding-offer text-white">ِAdd new Format</h1>
          <form [formGroup]="editFormat">
            <div class="mb-3">
              <label  for="name" class="form-label">Format Name</label>
              <input placeholder={{formatbyId.name}} #formatName formControlName="formatName"type="text"
                placeholder="Enter Format Name"
                class="form-control"
                id="name"
                aria-describedby="name"
              />
              <div *ngIf="editFormat.controls.formatName.errors">
                <div
                  class="validateerrorstyle"
                  *ngIf="
                  editFormat.controls.formatName.errors['minlength'] &&
                  editFormat.controls.formatName.touched">
                  Format Name must be at least 2 characters.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                  editFormat.controls.formatName.errors['maxlength'] &&
                  editFormat.controls.formatName.touched">Format name can have at most 30 characters.
                </div>
                <div
                  class="validateerrorstyle"
                  *ngIf="
                  editFormat.controls.formatName.errors['required'] &&
                  editFormat.controls.formatName.touched
                  ">
                  Format name is required.
                </div>
              </div>
            </div>

            <div class="row justify-content-center mt-5">
              <div class="col-10 text-center">
                <div class="row justify-content-center">
                  <div class="col-4">
                    <button
                    (click)="onSubmit(formatName.value)"
                      class="btn btn-success"
                      type="submit"
                      value="Save Item"
                      [disabled]="!editFormat.valid"
                    >Edit</button>
                  </div>
                  <div class="col-2">
                    <a
                      routerLink="/allFormats"
                      class="btn btn-danger"
                      >Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
