
<div class="main">
  <div class="box-container">
      <div  [routerLink]="['/allBooks']" class="box box1">
          <div class="">
              <h2 class="topic-heading">{{result.totalCount}}</h2>
              <a > books </a>
            </div>
          <img src=
"https://cdn-icons-png.flaticon.com/512/29/29302.png"
              alt="Views">
      </div>

      <div class="box box2">
          <div class="">
              <h2 class="topic-heading">{{DashBoard.purchased}}</h2>
              <h2 class="topic">purchased</h2>
          </div>

          <img src=
"https://static.thenounproject.com/png/1385410-200.png"
               alt="likes">
      </div>

      <div class="box box3">
          <div class="">
              <h2 class="topic-heading">{{DashBoard.readers}}</h2>
              <h2 class="topic">Readers</h2>
          </div>

          <img src=
"https://cdn5.vectorstock.com/i/1000x1000/81/84/reading-icon-vector-23458184.jpg"
              alt="comments">
      </div>

      <div class="box box4">
          <div class="">
              <h2 class="topic-heading">{{DashBoard.authors}}</h2>
              <h2 class="topic">Authors</h2>
          </div>

          <img src=
"https://static.thenounproject.com/png/2161837-200.png" alt="published">
      </div>
  </div>

<div class="container-fluid p-1" style="height: 83vh;">
  <div class="card border-0">
    <div class="card shadow m-2 p-xl-5 mx-xl-5">
      <div class="d-flex justify-content-between mt-4"></div>
      <div class="container small d-flex justify-content-center align-items-center mt-2" *ngIf="result">
        <p class="">Show <span class="text-success fw-medium">{{(result.currentPage-1)*(result.pageSize+1)}} - {{result.currentPage*result.pageSize > result.totalCount ? result.totalCount : result.currentPage*result.pageSize}}</span>
          of <span class="text-success fw-medium">{{result.totalCount}}</span></p>
      </div>
      <p class="ms-auto me-5" *ngIf="result.currentPage && result.totalPages">Page {{result.currentPage}} / {{result.totalPages}}</p>
      <div class="body d-flex flex-wrap mt-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">title</th>
              <th scope="col">Cover</th>
              <th scope="col">ISBN</th>
              <th scope="col">Price</th>
              <th scope="col">year</th>
               <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let author of searchResult; let i = index" id="id+1">
              <td class="author-name" routerLink="/authorDetails/{{author.id}}" style="cursor: pointer;">{{ author.title }} </td>
              <td><img [src]="author.cover" height="60" width="60" style="border-radius: 40%;"></td>
              <td  style="cursor: pointer;">{{ author.isbn }} </td>
              <td  style="cursor: pointer;">{{ author.price }} </td>
              <td  style="cursor: pointer;">{{ author.year }} </td>

              <td>
                <div  class="button-container">
                  <button class="custom-button" [routerLink]="['/bookDetails', author.id]">Details </button>
                  <button class="custom-button" [routerLink]="['/addBook', author.id]">Upload Book</button>
                  <button class="custom-button" [routerLink]="['/addSnapshots', author.id]">Add Snapshots</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex-auto">
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="result.pageSize" [totalRecords]="result.totalCount"></p-paginator>
    </div>
  </div>
  <p-toast></p-toast>
</div>



  <!--
          <div class="card">
            <p-table [value]="book.data" [paginator]="true" (click)="onPageChange($event)"  [rows]="15" [totalRecords]="57"
              [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,25,50] " >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">Book ID</th>
                        <th style="width:25%">Title</th>
                        <th style="width:25%">ISBN</th>
                        <th style="width:25%">Price</th>
                        <th style="width:25%">Year</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer  >
                    <tr >
                        <td >{{customer.id}}</td>
                        <td>{{customer.title}}</td>
                        <td>{{customer.isbn}}</td>
                        <td>{{customer.price}}</td>
                        <td>{{customer.year}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                </ng-template>
                <ng-template pTemplate="paginatorright">
                </ng-template>
            </p-table>
<script src="./index.js"></script> -->

