<section class="vh-100 vw-100 d-flex justify-content-center align-items-center">
  <div class="card m-4 p-5">

   <h4 class=" text-center fs-4">Reset Your Password</h4>
   <hr>
   <form (ngSubmit)="onChangePassword()" [formGroup]="resetPasswordForm">


     <div class="form-outline mb-4">
       <input
         type="text"
         id="token"
         class="form-control  rounded-0"
         formControlName="CurrentPassword"
         placeholder="Current password"
       />

       <ng-container *ngIf="tokenControl.touched">
         <div
           *ngIf="tokenControl.hasError('required')"
           class="form-text text-danger"
         >
           Current password is required
         </div>
       </ng-container>
     </div>
     <div class="form-outline mb-4">
       <input
         type="password"
         id="password"
         class="form-control  rounded-0"
         formControlName="NewPassword"
         placeholder="New Password"
       />
       <ng-container *ngIf="NewPasswordControl.touched">
         <div
           *ngIf="NewPasswordControl.hasError('required')"
           class="form-text text-danger"
         >
           Password is required
         </div>
         <div
           *ngIf="NewPasswordControl.hasError('minlength')"
           class="form-text text-danger"
         >
           Minlength is 8 char.
         </div>
         <div
           *ngIf="NewPasswordControl.hasError('pattern')"
           class="form-text text-danger"
         >
           password must be contain<br />
           lower and uper case char<br />
           [@|#|$|^|&]
         </div>
       </ng-container>
     </div>
     <div class="form-outline mb-4">
       <input
         type="password"
         id="confirmNewPassword"
         class="form-control  rounded-0"
         formControlName="confirmNewPassword"
         placeholder="Confirm Password"
       />
       <ng-container *ngIf="confirmNewPasswordControl.touched">
         <div
           *ngIf="confirmNewPasswordControl.hasError('required')"
           class="form-text text-danger"
         >
           password is required
         </div>
         <div
           *ngIf="
             resetPasswordForm.value.NewPassword !=
             resetPasswordForm.value.confirmNewPassword
           "
           class="form-text text-danger"
         >
           NewPassword and ConfirmPassword are not matched.
         </div>
       </ng-container>
     </div>
      <!-- <p>{{ resetPasswordForm.value | json }}</p> -->
      <div
      *ngIf=errorFlag

      class="form-text text-danger"
    >
      {{errorMessage}}
    </div>
     <div class="pt-3">
       <input
       *ngIf="isSuccess==false else check"
           type="submit"
           value="Reset"
           class="btn btn-outline-primary col-12 rounded-0 mb-3"
           [disabled]="resetPasswordForm.invalid
           "
         />
         <ng-template #check>
         </ng-template>
     </div>
   </form>

  </div>
 </section>
