<div class="row mt-5 mb-4 text-center">
<div class=" justify-content-center ">
  <button [routerLink]="['/addBookInfo']" class="btn btn-info ">Add new book</button>
  </div>
</div>



<div class="container-fluid p-1" style="height: 83vh;">
  <div class="card border-0">
    <div class="card shadow m-2 p-xl-5 mx-xl-5">
      <div class="d-flex justify-content-between mt-4"></div>
      <div class="container small d-flex justify-content-center align-items-center mt-2" *ngIf="result">
        <p class="">Show <span class="text-success fw-medium">{{(result.currentPage-1)*(result.pageSize+1)}} - {{result.currentPage*result.pageSize > result.totalCount ? result.totalCount : result.currentPage*result.pageSize}}</span>
          of <span class="text-success fw-medium">{{result.totalCount}}</span></p>
      </div>
      <p class="ms-auto me-5" *ngIf="result.currentPage && result.totalPages">Page {{result.currentPage}} / {{result.totalPages}}</p>
      <div class="body d-flex flex-wrap mt-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">title</th>
              <th scope="col">Cover</th>
              <th scope="col">ISBN</th>
              <th scope="col">Price</th>
              <th scope="col">year</th>
               <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let author of searchResult; let i = index" id="id+1">
              <td class="author-name" routerLink="/authorDetails/{{author.id}}" style="cursor: pointer;">{{ author.title }} </td>
              <td><img [src]="author.cover" height="60" width="60" style="border-radius: 40%;"></td>
              <td  style="cursor: pointer;">{{ author.isbn }} </td>
              <td  style="cursor: pointer;">{{ author.price }} </td>
              <td  style="cursor: pointer;">{{ author.year }} </td>

              <td>
                <div  class="button-container">
                  <button class="custom-button" [routerLink]="['/bookDetails', author.id]">Details </button>
                  <button class="custom-button" [routerLink]="['/addBook', author.id]">Upload Book</button>
                  <button class="custom-button" [routerLink]="['/addSnapshots', author.id]">Add Snapshots</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex-auto">
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="result.pageSize" [totalRecords]="result.totalCount"></p-paginator>
    </div>
  </div>
  <p-toast></p-toast>
</div>


























